.form {
  /* position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%); */
  margin-left: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  width: 500px;
  padding: 30px;
  border: 1px solid rgba(128, 128, 128, 0.368);
  background-color: rgb(235, 231, 231);
}
.add__form .form {
  position: static;
  transform: none;
}

label {
  display: block;
  font-size: 20px;
  font-weight: 600;
}

input {
  margin: 2px 0;
}

.forgot__password {
  margin-top: -18px;
  margin-bottom: 20px;
}

.sign__button {
  text-align: center;
  height: 40px;
  color: white;
  background-color: cornflowerblue;
  border: none;
}