.little__post__wrapper{
  width: 300px;
  margin: 20px auto 40px;
}
.little__posts {
  margin-left: 40px;
}
.little__post {
  display: flex;
  justify-content: space-between;
}

.little__post img{
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.little__post div {
  margin-bottom: 10px;
}

.reactions span {
  font-size: 10px;
}