.middle__post__wrapper {
  width: 65%;
  margin: 21px 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 30px;
}
.middle__post__wrapper a {
  width: 48%;
  color: black;
}
.middle__post {
  width: 48%;
}
.modal__post {
  width: 100%;
}
.modal__post>img {
  width: 600px;
}

.middle__post>img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.small__post__wrapper {
  margin-top: 23px;
  width: 33%;
}
.small__post__wrapper a {
  color: black;
}
.reactions {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.small__post> .reactions {
  margin-top: 50px;
  width: 100%;
}

.reactions img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

h3 {
  margin-top: 20px;
}
.posts__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.small__post {
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 50px;
}
.small__post > img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 230px;
}
