.posts__wrapper {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
}

.middle__posts{
  width: 100%;
  display: flex;justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.post {
  cursor:pointer;
}