.big__post__wrapper {
  width: 100%;
  margin: 20px auto;
}

.big__post {
  margin: 0px auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.big__post img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  margin-left: 10px;
}

.post__decription {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.reactions {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.bookmark img {
  width: 20px;
  height: 20px;
  margin-left: 15px;
}

#dots {
  transform: rotate(90deg);
}